# Coursera Capstone Project

## 1st Assg

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## 2nd Assg

In [110]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

tables = pd.read_html(link,header=0)
table = tables[0]
table.tail()

    Postcode       Borough          Neighbourhood
283      M8Z     Etobicoke              Mimico NW
284      M8Z     Etobicoke     The Queensway West
285      M8Z     Etobicoke  Royal York South West
286      M8Z     Etobicoke         South of Bloor
287      M9Z  Not assigned           Not assigned

Dropping NA boroughs

In [111]:
table = table[table['Borough'] != 'Not assigned']
table.reset_index(drop=True,inplace=True)
table.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [112]:
canada.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Combining cells with common postcode

In [114]:
foo = lambda a: ",".join(a) 
table=table.groupby(by=['Postcode','Borough']).agg({'Neighbourhood':foo})
table.head()

                                             Neighbourhood
Postcode Borough
M1B      Scarborough                         Rouge,Malvern
M1C      Scarborough  Highland Creek,Rouge Hill,Port Union
M1E      Scarborough       Guildwood,Morningside,West Hill
M1G      Scarborough                                Woburn
M1H      Scarborough                             Cedarbrae

Rearranging the columns

In [134]:
table.reset_index(level=0, inplace=True)
table.reset_index(level=0, inplace=True)
cols = ['Postcode','Borough','Neighbourhood']
table = table[cols]
table.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

Replacing NA neighbourhoods

In [131]:
for index,row in table.iterrows():
    if(row['Neighbourhood'] == "Not assigned"):
        row['Neighbourhood'] = row['Borough']

In [133]:
table[table['Borough'] == "Queen's Park"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [135]:
table.shape

(103, 3)